<header class="header">
    <i class="iconfont icon-menu"></i>
    <div class="logo">
        <a title="浙江茶叶网" href="#/home"><img src="./img/tea-logo.png" alt="">
            <div class="titlename">
                <a href="#/home">浙江茶叶</a>
            </div>
        </a>
    </div>
    <ul class="site-nav">
        <li><a href="#/home">首页</a></li>
        <li><a href="#/teas">茶叶总览</a></li>
        <li><a href="#/tec">加工技术</a></li>
        <li><a href="#/rec">购买推荐</a></li>
        <li><a href="#/about">关于本站</a></li>
    </ul>
    <i class="iconfont icon-elipsis"></i>
</header>
<section class="center_body" id="center_body">
</section>