<div class="pannel">
  <div class="content">
      <h2>茶叶推荐工具</h2>
      <p>
          使用以下这个工具去获得茶叶优质推荐
      </p>
      <a target="_blank" href="https://www.baidu.com/s?wd=%E6%B5%99%E6%B1%9F%E8%8C%B6%E5%8F%B6%E6%8E%A8%E8%8D%90">工具</a>
  </div>
</div>
<div class="pannel">
  <div class="content">
      <h2>茶叶不推荐工具</h2>
      <p>
          使用以下这个工具去获得不优质茶叶的推荐
      </p>
      <a target="_blank" href="https://www.baidu.com/s?wd=%E6%B5%99%E6%B1%9F%E4%B8%8D%E5%A5%BD%E7%9A%84%E8%8C%B6%E5%8F%B6">工具</a>
  </div>
</div>
<div class="pannel">
  <div class="content">
      <h2>茶叶选购工具</h2>
      <p>
          使用以下这个工具进行茶叶选购
      </p>
      <a target="_blank" href="https://www.taobao.com/">工具</a>
  </div>
</div>